@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');

body {
    font-family: 'Monda', sans-serif;
}

.borde-exterior {
    border: double 30px black;
}

@media (max-width: 640px) {
    .borde-exterior {
        border: double 20px black;
    }
}